body {
    font-family: Arial, sans-serif;
    background-color: antiquewhite;
    margin: 0;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

main {
    max-width: 720px;
    background-color: white;
    border-radius: 15px;
    padding: 2rem;
}

main img {
    width: 100%;
    border-radius: 7px;
}

h1 {
    color: black;
}

.Preparation Time {
    background-color: rgb(233, 25, 129);
    color: rgb(8, 0, 0);
    padding: 10px;

    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 2, 1, 3, 4, 6);
}

.ingredients,
.instructions,
.Nutrition {
    color: black;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 2, 1, 3, 4, 6);

}


ul {
    list-style-type: none;
    padding: 0;
}
